*{
   margin: 0%; 
   padding: 0%;
   box-sizing: border-box;
}


body{
    background: url(pics/view.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);

    font-family: 'Roboto', sans-serif;

}
h1,p{
color: #dbd9d9;
}

.form{
   
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
   
    padding: 0%;
    cursor: pointer;
   

   
}
form{
    background-color: rgba(70, 69, 69, 0.292);
 margin:0% ;
   height:450px ;
   width: 350px;
   padding-left: 20px;
   padding-right: 20px;
  

}
.user{
   color: rgb(10, 9, 10);
}
input{
    background-color: white;
    border:none ;
  height: 40px;
  width: 250px;

}
.login-button{
    width:250px ;
    height: 45px;
    background-color: rgb(18, 148, 218);
    border: none;
    color: white;
    font-weight: bold;

}
.facebook-button{
    width:125px ;
    height: 45px;
    background-color: rgb(2, 2, 131);
    border: none;
    color: white;
    font-weight: bold;
}
.insta-button{
    width:125px ;
    height: 45px;
    border: none;
    background-color: rgb(216, 77, 105);
    color: white;
    font-weight: bold;
}
.linkthis{
    color: rgb(76, 146, 189);
}