*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
} 
a{
    text-decoration: none;
    color:black
}
.cart{
    font-size: 25px;
}
header{
    display: flex;
    padding: 30px 4%;
    align-items: center; 
    color:#222224 ;
    font-size: 16px;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    cursor: pointer;

    }
    .side-menu,li{
        list-style: none;
        display: inline-block;
        margin-left: 80px;
        color: rgb(19, 17, 17);
        font-weight: bold;
        
    
        justify-content: space-between;
      
        }
    nav ul li a::after{
        content: '';
        width:0%;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom:-6px;
        transition: 0.6s;
    }
    nav ul li a:hover::after{
        width:100%;
    }
    .search-icon{
   width:200px ;
  
  
    }
    nav ul li a {
        position: relative;
    }
    
    h1{
        margin-left: 10px;
        padding-top: 10px;
    }
    nav{
        justify-content: space-between;
    }
    ul li a{
        position: relative;
    }
    .menubar {
        display: none;
    }
   
    .logo{
        width: 10%;
        height: 20%;
        justify-items: center;
        margin-left: 100px;
        border-radius: 50%;
        margin-top: 50px;
       position:relative;
       
        background: linear-gradient(
            35deg,
            #ccffff,
            #ffcccc
          );
         animation: fade 10s infinite ease-in-out;
        }
        @keyframes fade {
          
            0% {
                top: 0px;
                left:0px;
          
              }
            
            50% {
            left: 35%;
            opacity: 0.1;
          }
          100% {

          
            left: -10px;
            
          }
        }
    
    .search{
        background-color: white;
        border: none;
        height:60px ;
        width: 300px;
        border-radius: 20px;
    margin-left: 100px;
    margin-top: 200px;

    }
    .start{
        height: 800px;
        color: white;
        padding-top: 110px;
        background-image: url(images/bagnew.jpg);
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.8);
        position: static;

    }
    .introduction{
        line-height: 30px;
        margin-left: 20px;
       
    }
    .searchs{
        width:150px;
        height:50px
        
    }
    h2{
        margin-left: 20px;
        margin-top: 150px;
        font-size: 30px;
    }
    .image {

height: 100%;
background-size: cover;
max-width: 100%;

    }
.img1{
width:100%;
}

.search:hover{
animation-name:background-color ;
animation-duration: 500ms;
animation-fill-mode:forwards;
   }
   @keyframes background-color {
    100%{
      background-color:rgb(217, 217, 221) ;

    }
   }

    .second-div,.third-div,.forth-div{
        display: grid;
       grid-auto-flow: column;
       gap: 10px;
       justify-content:space-around ;
       margin-top: 10px;
    }
    
    .words{
        width: 1000px;
        background-color:rgba(232, 231, 231, 0.34) ;
        height:auto;
       
    }
    #categories{

        margin: 0px 10px 0px 10px; 
    }
     #categories .rating{
        width: 100px;
        align-items: center;
        height: 50px;
        text-align: center;
         
        }
    
    #categories button{
      background-color: #9d294e;
      border: none;
      width: 100px;
      height: 40px;
      color: #f8f8f8;
      cursor: pointer;

    }
    #categories button:hover{
background-color: #502939;
    }
    #categories h2{
    margin: 0px;

    }
    
    #categories img{
   height: 320px;
   width: 100%;

    }
    .footermain{
        background-color: #f8f8f8;
        color:  black;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin: 100px 0px 100px 0px;
        padding: 20px;
        
        }
        .only{
            font-weight: lighter ;
            color:  black;
            text-align: center;
           }
           
         
           .lists{
             color: black;
             font-weight: lighter;
           }
    .insta{
        color: rgba(220, 7, 75, 0.517);
        font-size:30px ;
    }
    .fb{
        color:  #385898;;
        font-size: 30px;
    }
    .twitter{
        font-size: 30px;
        color: rgb(29, 155, 240);
    }
.footermain h3{
text-align:left;

}
  .OurCompany h3{
    margin-right: 100px;
 }

  